.zig-cache/
zig-out/
/build 
build_bak.zig
/sdkconfig
/sdkconfig.old
/managed_components
cmake-build-*/
.cache/
*zig-*/
CMakeCache.txt
CMakeFiles.txt
cmake_install*
Makefile
compile_commands.json
/log_data
/esp32s3_build
main/src/c_wrapper.zig
dependencies.lock
scripts/pre_setup.sh
