.zig-cache/
zig-out/
/build 
build_bak.zig
/sdkconfig
/sdkconfig.old
/managed_components
cmake-build-*/
.cache/
*zig-*/
CMakeCache.txt
CMakeFiles.txt
cmake_install*
Makefile
compile_commands.json
/log_data
/esp32s3_build
main/src/c_wrapper.zig
dependencies.lock
scripts/pre_setup.sh
src/clic_vectors.S
config/linker_copy.ld
/config/linker_backup.ld
config/PyCortexMDebug
/config/svd_registers/*
config/svd_registers/types/*
config/svd_registers/types/peripherals/*
scripts/PyCortexMDebug/
.gdb_history
/depricated_code/*
/figures/*
/scripts/checkpoints/*
/scripts/figures/*
/scripts/read_dataset.py
/config/bootloader/partition_table_bak.csv
/dataset/dataset_csv/*
/dataset/smap_msl_dataset/data/data/2018-05-19_15.00.10/*
/config/esp_startup_dissasembly.txt
/config/image_segment_addr_info.md
