# {
#     "name": "ESP32-P4 chip (via builtin USB-JTAG)",
#     "description": "ESP32-P4 debugging via builtin USB-JTAG",
#     "target": "esp32p4",
#     "interface": "esp_usb_jtag",
#     "config_files": [
#         "board/esp32p4-builtin.cfg"
#     ]
# },
adapter speed 20000
set ESP_RTOS none
set ESP_ONLYCPU 1

source [find interface/esp_usb_jtag.cfg]
# source [find board/esp32p4-builtin.cfg]
source [find target/esp32p4.cfg]

# DEPRECATED! use 'gdb memory_map', not 'gdb_memory_map'
# DEPRECATED! use 'gdb flash_program', not 'gdb_flash_program'
gdb memory_map disable
gdb flash_program disable

init 
reset halt
