# {
#     "name": "ESP32-P4 chip (via builtin USB-JTAG)",
#     "description": "ESP32-P4 debugging via builtin USB-JTAG",
#     "target": "esp32p4",
#     "interface": "esp_usb_jtag",
#     "config_files": [
#         "board/esp32p4-builtin.cfg"
#     ]
# },

source [find interface/esp_usb_jtag.cfg]

# source [find config/openocd/board/esp32p4-builtin.cfg]

source [find target/esp32p4.cfg]
